@media (max-width: 1199px) {
    footer { padding: 20px;}
    .desktop-view-center { padding: 0 20px;}
    .content-seperator { margin-left: 20px; margin-right: 20px;}
    .top-middle-nav > li,
    .top-right-nav > li {
        margin:0 10px;
    }
    .navbar.main-nav {
        padding-left: 20px;
        padding-right: 20px;
    }
    .f-max-width-half {
        padding-right: 20px;
    }
}
@media (min-width: 992px) {
    .show-from-lg { display: block !important;}
    .hiddem-above-lg { display: none !important; }
}
@media (max-width: 992px) {
    body { padding-top: 60px; }
    footer { text-align: center; }
    .hiddem-from-lg { display: none !important; }
    .footer-blog-links > li.block-on-lg { display: block; }
    .main-nav-outer {
        background: #FFFFFF;
        padding: 5px 0;
        height: 60px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    }
    .top-middle-nav > li > a, 
    .top-right-nav > li > a {
        color: #2B302D;
    }
    .banner {
        min-height: 220px;
    }
    .content-seperator.medium {
        margin-left: 0;
        margin-right: 0;
    }
    .steps-text li { 
        padding-right:20px;
    }
    .details-left-panel {
        float: none;
        width: auto;
    }
    .details-right-panel {
        float: none;
        width: auto;
    }
    .banner.index {
        min-height: 410px;
        margin-bottom: 0;
    }
    .banner-slider-item h1 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 20px;
    }
    .banner-slider-item p {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 20px;
    }
    .banner-slider {
        padding: 35px;
        max-width: 450px;
    }
    .light-green-section {
        padding: 30px 0 30px 0;
    }
    .creation-forms-holder {
        padding-left: 0;
    }
    .creation-forms {
        padding: 40px 0;
    }
    .checkout-forms {
        padding-bottom: 70px;
    }
    .checkout-forms-holder,
    .checkout-cart-panel {
        float: none;
        width: auto;
    }
    .checkout-forms-holder {
        margin-bottom: 40px;
    }
    .checkout-cart-panel {
        margin-left: -20px;
        margin-right: -20px;
    }
    .float-btn-mover {
        position: fixed;
        padding:10px 20px;
        bottom: 0;
        left: 0;
        right: 0;
        background: #fff;
        z-index: 10;
    }
}

@media (min-width: 768px) {
	.hidden-above-md { display: none !important; }
}

@media (max-width: 767px) {
    .d-block-md { display: block !important;}
    .hiddem-from-md { display: none !important; }
    .content-holder { margin-bottom: 20px;}
    .banner-support-text {
        font-size: 18px;
    }
    .banner h2 {
        margin-bottom: 0;
        font-size: 36px;
    }
    .left-panel-column {
        float: none;
        width: auto;
        margin-right: 0;
    }
    .right-panel-column {
        float: none;
        width: auto;
    }
    .block-thumb-outer {
        max-width: 180px;
        margin: 0 auto;
        margin-top: -70px;
    }
    .product-thumnail {
        background: #DBDBDB;
        margin-left: -20px;
        margin-right: -20px;
    }
    .product-thumnail.no-mobile-bg {
        background:none;
    }
    .product-tags {
        top: 10px;
        left: 10px;
    }
    .bold-line-md {
        height: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
        background: #F2F2F2;
    }
    .w-md-100 {
        width: 100% !important;
    }
    .d-flex-car {
        padding: 0;
    }
    .steps-text,
    .md-title-line {
        display: block !important;
    }
    .steps-text li { 
        padding-right:50px;
        margin-bottom: 25px;
    }
    .md-title-line {
        text-align: center;
    }
    .md-title-line .footer-blog-links {
        margin-bottom: 30px;
    }
    .banner.index {
        min-height: 370px;
        background-position:right;
    }
    .banner-slider-item {
        margin-bottom: 0;
    }
    .banner-slider-item h1 {
        font-size: 26px;
    }
    .banner-slider-item p {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 20px;
    }
    .banner-slider {
        padding: 30px 20px;
        max-width: none;
        width: auto;
        position: static;
        margin:0 -20px;
    }
    .banner-slide-btn {
        text-align: center;
    }
    .banner-slide-btn .md-block {
        display: block;
        width: 100%;
        margin: 5px 0;
    }
    .text-item-list {
        list-style: none;
        margin: 0;
    }
    .text-item-list li {
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .f-max-width-half {
        padding: 20px;
    }
    .big-bottom-gap {
        margin-bottom: 20px;
    }
    .pay-pal-position {
        position: static;
        display: block;
        margin-top: 10px;
    }
    .steps-count {
        line-height: 36px;
    }
    .expand-collapse-title.as-form-title {
        line-height: 36px;
        font-size: 20px;
        padding-left: 25px;
    }
    .expand-collapse-title .left-icon {
        font-size: 20px;
        line-height: 36px;
    }
    .form-sign-in-text {
        margin-bottom: 30px;
        text-align: center;
    }
    .collapsed-text,
    .order-summary-text {
        padding-left: 25px;
    }
}

@media (max-width: 640px) {
    .cat-causerr-item {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media (max-width: 480px) {
	
}

@media (min-width: 768px) and (max-width: 979px) {
	
}