
body { font-weight:400; font-family: 'Nunito', sans-serif; font-size: 16px; line-height: 22px; color: #000000;}
a { color: #23BD6A; cursor:pointer; font-weight: 700;}
a:hover { text-decoration:none; color:#23BD6A;}
a:focus,
a:active { text-decoration:none; outline:none;}
.link-color { color: #23BD6A;}

h1, h2, h3, h4, h5, h6 { margin:0 0 20px; font-weight: 800;}
h1 { font-size: 42px; line-height: 60px;}
h2 { font-size:36px; line-height:42px;}
h3 { font-size:24px; line-height:32px;}
h4 { font-size:18px; line-height:32px;}
h5 { font-size:16px; line-height:24px;}

p { margin:0 0 20px;}
p:last-child {
    margin-bottom: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
    height: 46px;
    padding: 6px 12px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    box-shadow: 0px 1px 0px #ADADAD;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
select {
    padding-right: 25px;
}
textarea {
    resize: none;
    height: 120px;
}
input[type="text"]:focus,
input[type="text"].active,
input[type="email"]:focus,
input[type="email"].active,
input[type="password"]:focus,
input[type="password"].active,
select:focus,
select.active,
textarea:focus,
textarea.active {
    box-shadow: 0px 1px 0px #378B03;
    border: none;
    outline: none;
}
.block {
    display: block;
    width: 100%;
}

.btn.btn-x-lg {
    height: 66px;
    padding: 20px 30px;
    font-size: 20px;
    line-height: 26px;
}


/* Tools ------------------- */

.no-margin { margin: 0 !important;}
.no-top-margin { margin-top: 0 !important;}
.no-bottom-margin { margin-bottom: 0 !important;}
.bottom-margin-5 { margin-bottom: 5px !important;}
.bottom-margin-10 { margin-bottom: 10px !important;}
.bottom-margin-15 { margin-bottom: 15px !important;}
.bottom-margin-20 { margin-bottom: 20px !important;}
.bottom-margin-25 { margin-bottom: 25px !important;}
.bottom-margin-30 { margin-bottom: 30px !important;}
.bottom-margin-40 { margin-bottom: 40px !important;}
.bottom-margin-50 { margin-bottom: 50px !important;}

.no-padding       { padding: 0 !important;}
.no-left-padding  { padding-left: 0 !important;}
.no-right-padding { padding-right: 0 !important;}
.left-padding-30  { padding-left: 30px !important;}

.text-align-left   { text-align: left;}
.text-align-right  { text-align: right;}
.text-align-center { text-align: center;}

.font-size-p-large { font-size: 18px;}
.font-size-p-regular { font-size: 16px;}

.font-weight-400 { font-weight: 400 !important;}
.font-weight-600 { font-weight: 600 !important;}
.font-weight-700 { font-weight: 700 !important;}
.font-weight-800 { font-weight: 800 !important;}

.relative {
    position: relative;
}

.list-reseter {
    list-style: none;
    padding: 0;
    margin: 0;
}
.content-center-v-h {
    display: flex;
    align-items: center;
    justify-content: center;
}
.desktop-view-center { 
    max-width:1280px;
    margin:0 auto;
    position: relative;
}
.content-seperator {
    display: block;
    clear: both;
    height: 1px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.15);
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.content-seperator.large-gap {
    margin-top: 60px;
    margin-bottom: 60px;
}
.content-seperator.medium {
    margin-top: 30px;
    margin-bottom: 30px;
}
.category-divider,
.text-divider {
    display: block;
    clear: both;
    height: 5px;
    overflow: hidden;
    background: #F2F2F2;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text-divider {
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.15);;
}

/* End Tools ----------------- */

/* Header -------------- */
.freezing-menu-added,
.freezing-menu-static { padding-top: 60px;}
header { 
    padding:0; 
    position:relative;
}
.freezing-menu .main-nav-outer,
.freezing-menu-static .main-nav-outer {
    background: #FFFFFF;
    padding: 5px 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}
.navbar.main-nav {
    padding-left: 0;
    padding-right: 0;
}
.navbar-brand {
    color: #F6FDFF;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
}
.freezing-menu .navbar-brand,
.freezing-menu-static .navbar-brand {
    color: #000000;
}
.navbar-brand:hover,
.freezing-menu .navbar-brand:hover,
.freezing-menu-static .navbar-brand:hover {
    color: #23BD6A;
}

/* Top Nav ----------------- */

.main-nav-outer .navbar {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.top-middle-nav > li,
.top-right-nav > li {
    display: inline-block;
    vertical-align: middle;
    margin:0 20px;
}
.top-middle-nav > li > a,
.top-right-nav > li > a {
    font-size: 16px;
    color: #EDEDED;
    font-weight: 700;
    text-decoration: none;
}
.top-middle-nav > li > a:hover,
.top-right-nav > li > a:hover {
    color: #23BD6A;
}
.freezing-menu .top-middle-nav > li > a,
.freezing-menu .top-right-nav > li > a,
.freezing-menu-static .top-middle-nav > li > a,
.freezing-menu-static .top-right-nav > li > a {
    color: #2B302D;
} 
.freezing-menu .top-middle-nav > li > a:hover,
.freezing-menu .top-right-nav > li > a:hover,
.freezing-menu-static .top-middle-nav > li > a:hover,
.freezing-menu-static .top-right-nav > li > a:hover {
    color: #23BD6A;
}
.top-right-nav > li > a > i {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.top-right-nav > li:last-child {
    margin-right: 0;
}

/* End Top Nav -------------- */

.banner {
    padding: 25px;
    min-height: 320px;
    margin-bottom: 20px;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
.banner::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(18, 18, 18, 0.37) 0%, rgba(196, 196, 196, 0) 36.56%);
    z-index: 1;
}
.banner h2 {
    color: #FFFFFF;
    text-align: center;
    position: relative;
    z-index: 2;
    text-shadow: 0 0 2px rgba(0,0,0, 0.25);
}
.banner h2 a {
    font-size: 18px;
    text-shadow:none;
}

.content-holder {
    margin-bottom: 100px;
}
.left-panel-column {
    float: left;
    width: 180px;
    margin-right: 40px;
}
.right-panel-column {
    float: left;
    width: calc(100% - 220px);
}

.block-thumb-outer {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    padding: 15px;
}
.block-thumb-outer img {
    max-width: 100%;
    display:block;
}

.link-list > li > a {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    line-height: 26px;
    text-decoration: none;
    font-weight: 400;
}
.link-list > li > a.current, 
.link-list > li > a:hover {
    font-weight: 800;
    color: #000000;
}


/* Form elements ----------------------------------- */

/* Custom Checkbox */
.checkbox-control {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkbox-control input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border: 1px solid #000;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox-control input:checked ~ .checkmark:after {
    display: block;
}
.checkbox-control .checkmark:after {
    left: 4px;
    top: 1px;
    width: 6px;
    height: 9px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.gray-link {
    font-weight: 800;
    line-height: 22px;
    color: #CCCCCC;
    text-decoration: none;
}

footer {
    background: #F9F9F9;
    padding: 25px 0;
}
.link-list-footer > li > a {
    text-decoration: none;
    line-height: 32px;
    color: #000000;
    font-weight: 400;
}
.footer-blog-links {
    margin-bottom: 20px;
    line-height: 32px;
}
.footer-blog-links > li {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}
.footer-blog-links > li > a {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}
.footer-blog-links > li > a .fab {
    font-size: 22px;
}
.footer-blog-links > li:last-child {
    margin-right: 0;
}
.copyright { font-size: 14px;}
.copyright a { color: #000000; text-decoration: none; font-weight: 400;}


.product-thumnail {
    margin-bottom: 20px;
    height: 216px;
    padding: 10px;
    position: relative;
}
.product-tags {
    display: block;
    padding: 5px 8px;
    background: #C8F3FF;
    border-radius: 4px;
    position: absolute;
    color: #2B302D;
    top: 0;
    left: 0;
    font-size: 13px;
}
.product-tags.right-top {
    top: 10px;
    right: 10px;
    left: auto;
}
.product-thumnail img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}
.product-title {
    font-weight: 400;
    margin-bottom: 0;
    position: relative;
    padding-right: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.hit-count {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
}
.hit-count a {
    font-weight: 400;
    color: inherit;
    text-decoration: none;
}
.hit-count a:hover {
    color: #23BD6A;
}
.price-line {
    font-weight: 800;
    font-size: 25px;
    line-height: 34px;
}
.price-line .offer {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #E3660A;
}
.price-line .prev-price {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
    display: block;
    text-decoration: line-through;
}
.row.col-gutter-40 {
    margin-left: -20px;
    margin-right: -20px;
}
.col-gutter-40 [class^="col-"] {
    padding-left: 20px;
    padding-right: 20px;
}
.row.col-gutter-60 {
    margin-left: -30px;
    margin-right: -30px;
}
.col-gutter-60 [class^="col-"] {
    padding-left: 30px;
    padding-right: 30px;
}

.swipe-cat-menu {
    padding:8px 5px;
    text-align: center;
}
.swipe-cat-menu a {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    line-height: 24px;
    padding:0 8px;
    margin: 0 3px;
    text-decoration: none;
    color: #2B302D;
}
.swipe-cat-menu a.current {
    border-bottom: 3px solid #23BD6A;
}
.swipe-menu-outer {
    background: #F1F1F1;
    padding: 8px 5px;
}

.bar-btn {
    border: none;
    width: 24px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    padding: 5px 0;
}
.bar-btn:focus {
    outline: none;
}
.bar-btn span {
    display: block;
    height: 2px;
    background: #000000;
    margin: 4px 0;
    overflow: hidden;
}
.searh-on-top {
    border: none;
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    padding: 5px 0;
}
.mobile-top-link {
    text-decoration: none;
    color: #23BD6A;
    font-size: 16px;
}
.mobile-brand img {
    max-height: 20px;
}

.drawer-menu {
    width: 0;
    max-width: 85%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.15s;
    padding: 30px 0 70px 0;
    z-index: 1100;
}
.drawer-menu .freez-bottom {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 15px;
    width: calc(100% - 40px);
}
.drawer-menu-opened .drawer-menu {
    width: 300px;
    padding: 30px 20px 70px 20px;
}
.drawer-backdrop,
.cart-list-backdrop {
    width: 0;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1099;
}
.drawer-menu-opened .drawer-backdrop,
.cart-menu-opened .cart-list-backdrop {
    width: 100%;
}

.close-drawer-menu,
.close-cart-menu {
    border: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #23BD6A;
}
.close-drawer-menu:focus {
    outline: none;
}

/* Browser ------ */
.banner-support-text {
    color: #222222;
    font-size: 24px;
    line-height: 42px;
    font-weight: 400;
}
.inline-banner-price {
    display: inline-block;
    vertical-align: middle;
    background: #31A2D2;
    border-radius: 5px;
    padding: 5px 10px;
    color: #FFFFFF;
    line-height: 32px;
}

.causerrs-items {
    margin: 0 4px;
    padding: 10px;
    width: 240px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.causerrs-items .thumb {
    margin-right: 20px;
    display: block;
    float: left;
    width: 45px;
    height: auto;
}
.causerrs-items .text {
    display: block;
    color: #000000;
    float: right;
    width: calc(100% - 65px);
}
.causerrs-items .text strong {
    font-weight: 800;
    color: #378B03;
}
.steps-text li { 
    padding-right:100px;
}
.steps-text .steps-text-title {
    line-height: 40px;
    font-size: 22px;
    display: block;
    margin-bottom: 15px;
}
.steps-text-title strong {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    font-weight: 400;
    background: #C8F3FF;
}

.d-flex-car {
    padding: 0 30px;
    position: relative;
}
.d-flex-car .slick-track {
    display: flex;
}


.details-left-panel {
    float: left;
    width: 53.5%;
}
.details-right-panel {
    float: right;
    width: 39.5%;
}
.v-product-slider {
    float: left;
    width: 80px;
    margin-right: 15px;
    height: 100%;
    position: relative;
}
.product-thumb {
    float: left;
    position: relative;
    width: calc(100% - 95px);
}
.product-thumb .thumnail {
    max-width: 100%;
    width: 100%;
}
.thumb-series-item {
    width: 80px;
    height: 80px;
    margin-bottom: 8px;
    opacity: 0.5;
    cursor: pointer;
}
.thumb-series-item.current {
    border: 1px solid #378B03;
    opacity: 1;
}
.thumb-series-item img {
    display: block;
    width: 100%;
    height: 100%;
}
.back-breadcumb {
    min-height: 54px;
    line-height: 54px;
}
.back-breadcumb a {
    color: #000000;
    font-size: 14px;
    text-decoration: none;
}
.back-breadcumb a:hover {
    color: #23BD6A;
}
.rating {
    font-size: 14px;
    color: #000;
    line-height: 24px;
    
}
.rating .star {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.rating .number {
    font-size: 14px;
    line-height: 24px;
    color: #000;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}
.radio-btn-bar > li {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}
.radio-as-btn {
    margin: 0;
}
.radio-as-btn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.radio-btn-option {
    background: #fff;
    border: 1px solid #000000;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 15px;
    height: 32px;
    line-height: 22px;
    color: #000000;
    display: inline-block;
    vertical-align: middle;
}
.radio-btn-option:focus {
    outline: none;
}
.radio-as-btn input:checked ~ .radio-btn-option {
    background: #000000;
    color: #ffffff;
}

.side-section-list > li {
    padding: 20px 25px;
    position: relative;
    border-bottom: 5px solid #F2F2F2;
}
.side-section-list > li:last-child {
    border-bottom: none;
}
.product-features-list,
.text-item-list {
    list-style-type: disc;
    margin: 0 0 0 5px;
    padding: 0;
    list-style-position:inside;
}
.text-item-list > li {
    text-align: left;
}
.expand-collapse-title {
    display: block;
    cursor: pointer;
    line-height: 36px;
    font-size: 22px;
    color: #000;
    text-decoration: none;
    position: relative;
    padding-right: 50px;
    font-weight: 400;
    margin-bottom: 40px;
}
.expand-collapse-title.collapsed {
    margin-bottom: 0;
}
.expand-collapse-title .right-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 36px;
    font-size: 14px;
}
.expand-collapse-title .show-when-expanded {
    display: inline-block;
    vertical-align: middle;
}
.expand-collapse-title .show-when-collapse {
    display: none;
}
.expand-collapse-title.collapsed .show-when-collapse {
    display: inline-block;
    vertical-align: middle;
}
.expand-collapse-title.collapsed .show-when-expanded {
    display: none;
}

.expand-collapse-title.as-form-title {
    line-height: 44px;
    font-size: 32px;
    padding-right: 0;
    padding-left: 40px;
    font-weight: 600;
    margin-bottom: 0;
}
.as-form-title:hover {
    text-decoration: none;
    color: #378B03;
}
.expand-collapse-title .left-icon {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 44px;
    font-size: 32px;
    color: #378B03;
}
.expand-collapse-title .show-when-expanded {
    display: inline-block;
    vertical-align: middle;
}
.expand-collapse-title .show-when-collapse {
    display: none;
}
.expand-collapse-title.collapsed .show-when-collapse {
    display: inline-block;
    vertical-align: middle;
}
.expand-collapse-title.collapsed .show-when-expanded {
    display: none;
}

.card-text {
    padding: 10px 0;
}

.product-review-list .review-item {
    position: relative;
    padding: 0 0 0 65px;
    margin-bottom: 25px;
}
.review-item p {
    margin-bottom: 0;
}
.review-thumbnail {
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
}
.review-thumbnail img {
    max-width: 100%;
    display: block;
}
.reviewer-name {
    padding-right: 15px;
}
.reviewer-name span {
    display: block;
    font-weight: 400;
}

.pagination-bar {
    padding-left: 65px;
}
.pagination-bar > li {
    float: left;    
    margin-right: 10px;
}
.pagination-bar > li > a {
    background: #fff;
    border: 1px solid rgba(43, 48, 45, 0.25);
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
    height: 32px;
    line-height: 22px;
    color: #000000;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}
.pagination-bar > li > a:hover,
.pagination-bar > li > a.current {
    color: #fff;
    background: #000;
}
.product-thumb-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
}
.product-thumb-item img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.lg-thumb-swipe-slider {
    margin-left: -20px;
    margin-right: -20px;
}

.product-card-width {
    width: 360px;
    padding: 0 15px;
}

/* cart menu ------------- */
.cart-list-drawer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    z-index: 1100;
    background-color: #fff;
    transition: 0.15s;
    max-width: 100%;
    overflow: hidden;
}
.cart-menu-opened .cart-list-drawer {
    width: 380px;
    overflow: auto;
}
.cart-content {
    padding:20px;
}

.cart-item {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.cart-thumb {
    display: block;
    float: left;
    width: 110px;
    margin-right: 15px;
}
.cart-thumb img {
    display: block;
    width: 100%;
}
.cart-item-info {
    float: left;
    width: calc(100% - 125px);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.cart-item-action {
    display: block;
    text-decoration: none;
    color: #ADADAD;
    font-weight: 400;
}
.cart-item-action:hover {
    text-decoration: none;
    color: #000000;
}
.cart-total {
    padding: 20px 25px;
    background: #F1F1F1;
}
.cart-total-price {
    margin: 0 0 20px;
}
.cart-total-price:last-child {
    margin-bottom: 10px;
}
.cart-total-price .label {
    font-size: 20px;
    font-weight: 400;
}
.cart-total-price .value {
    font-size: 25px;
    font-weight: 800;
}
.cart-item-action.add {
    color: #23BD6A;
}
.cart-title {
    font-size: 20px;
}
.cart-item-suggest > .cart-item:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}

.banner.index {
    min-height: 510px;
    margin-bottom: 0;
}
.banner-slider {
    position: absolute;
    background: #F6FDFF;
    padding: 50px;
    bottom: 0;
    left: 65px;
    max-width: 550px;
}
.banner-slider-item {
    margin-bottom: 20px;
}
.banner-slider-item h1 {
    line-height: 42px;
    font-weight: 500;
    margin-bottom: 30px;
}
.banner-slider-item p {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 30px;
}
.banner-slider-wrapper {
    position: relative;
    max-width: 1280px;
    margin:0 auto;
}
.z-index-banner-underneath {
    z-index: 3;
}
.banner-slide-btn .link-color {
    margin-left: 15px;
    background-color: #fff;
}

.white-bg-section {
    padding: 60px 0 40px 0;
}
.color-title-h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #378B03;
}
.color-title-h3.black {
    color: #222222;
}
.max-width-md {
    max-width: 740px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 24px;
}
.steps-text h3 {
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
}
.steps-text-home li {
    padding: 0;
    font-size: 18px;
    line-height: 24px;
}
.steps-text-home .steps-text-title {
    margin-bottom: 25px;
}
.steps-text-home .steps-text-title strong {
    margin-right: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    color: #378B03;
}
.light-green-section {
    background: rgba(221, 247, 255, 0.25);
    padding: 60px 0 40px 0;
}
.square-thumnail {
    display: block;
    text-decoration: none;
    color: #222222;
}
.square-thumnail:hover {
    color: #378B03;
    text-decoration: none;
}
.square-thumnail img {
    display: block;
    max-width: 100%;
    margin-bottom: 15px;
}
.square-thumnail strong {
    font-size: 22px;
    display: block;
    font-weight: 600;
}
.slide-text-info {
    font-size: 18px;
}
.index-icon-series {
    /*display: grid;
    grid-template-columns: repeat(6, minmax(180px, 1fr));
	grid-auto-rows: 1fr;
    grid-column-gap: 1fr;
    grid-row-gap: 40px;*/
    text-align: center;
}
.cat-causerr-item {
    text-decoration: none;
    color: #000;
    font-weight: 400;
    line-height: 24px;
    display: inline-block;
    vertical-align: top;
    width: 160px;
    margin: 0 20px;
    margin-bottom: 40px;
}
.cat-causerr-item > span {
    display: block;
    background: #F2F2F2;
    color: #269abb;
    width: 84px;
    height: 84px;
    line-height: 84px;
    border-radius: 50%;
    font-size: 24px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.para-large {
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    color: #32362F;
}
.black-bg-section {
    padding: 80px 0;
    background: #2B302D;
}
.color-white {
    color: #fff !important;
}
.f-max-width-half {
    max-width: 500px;
    padding: 50px 0;
}
.stories-bg-outer {
    background: rgba(255, 255, 255, 0.25);
    position: relative;
    overflow: hidden;
}
.bg-color-black {
    background: #2B302D;
    padding: 70px 50px 40px 50px;
}
.causerr-items {
    max-width: 264px;
    margin: 0 auto;
}
.causerr-items img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.causerr-slider-outer {
    max-width: 264px;
    margin: 0 auto;
    text-align: center;
}
.search-on-top {
    float: left;
    position: relative;
    margin-right: 12px;
}
.search-on-top .fas {
    position: absolute;
    left: 8px;
    font-size: 16px;
    line-height: 32px;
    top: 0;
    color: #858585;
}
input.search-input {
    border: none;
    background: #F3F3F3;
    border-radius: 5px;
    height: 32px;
    padding: 4px 5px 4px 40px;
    width: 280px;
    line-height: 24px;
    font-size: 16px;
    box-shadow: none;
}
input.search-input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
.cause-select-control {
    display: block;
    float: left;
    height: 32px;
    background-color: #fff;
    border: none;
    padding: 2px 5px;
}
.cause-select-control:focus {
    outline: none;
}
.index-slide-item-width {
    display: block;
    float: left;
    width: 440px;
    padding-left: 20px;
    padding-right: 20px;
}
.big-bottom-gap {
    margin-bottom: 80px;
}
.creation-forms {
    background: #E5E5E5;
    padding-top: 40px;
    padding-bottom: 100px;
}
.creation-forms-holder {
    max-width: 950px;
    padding-left: 110px;
}
.forms-each-section {
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(21, 21, 21, 0.15);
}
.forms-each-section:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.section-titles-bar {
    position: relative;
}
.steps-count {
    display: block;
    line-height: 44px;
}
.inline-elements > * {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.line-height-18 {
    line-height: 18px;
}
.pay-pal-position {
    position: absolute;
    right: -105px;
    top: 40px;
}
.text-number-list {
    margin: 0 0 0 5px;
    padding: 0;
    list-style-position: inside;
}
.form-sign-in-text {
    margin-bottom: 50px;
    text-align: right;
}
.checkout-forms {
    padding:40px 0 100px 0;
    background: #F1F1F1;
}
.checkout-forms-holder {
    float: left;
    width: calc(100% - 440px);
}
.checkout-cart-panel {
    float: right;
    width: 400px;
}
.cart-content.in-form {
    padding: 25px 30px;
    background-color: #fff;
}
.grand-total {
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    text-align: right;
}
.grand-total strong {
    font-weight: 800;
    font-size: 25px;
    line-height: 34px;
    text-align: right;
    color: #23BD6A;
    display: block;
}
.checkbox-in-form {
    font-size: 16px;
    font-weight: 400;
}
.payment-inline {
    list-style:none;
    padding: 0;
    margin: 0;
}
.payment-inline > li {
    display: inline-block;
    vertical-align: top;
    margin-right:10px;
}
.middle-bg-text {
    position: relative;
    line-height: 40px;
    text-align: center;
    display: block;
}
.middle-bg-text::after {
    content: "";
    height: 1px;
    top: 50%;
    margin-top: -1px;
    background-color: rgba(0, 0, 0, 0.15);
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}
.middle-bg-text span {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
    background: #F1F1F1;
    position: relative;
    z-index: 2;
}
.order-summary-text {
    padding-left: 40px;
}

.admin-outer {
    padding: 40px 0 100px 0;
}
.left-panel-menu {
    float: left;
    width: 180px;
}
.data-table-right {
    float: right;
    width: calc(100% - 220px);
}
.admin-left-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.admin-left-menu > li {
    margin-bottom: 10px;
}
.admin-left-menu > li > a {
    display: block;
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #2B302D;
    text-decoration: none;
    border-radius: 3px;
}
.admin-left-menu > li > a:hover,
.admin-left-menu > li > a.active {
    color: #23BD6A;
    text-decoration: none;
    background: #F1F1F1;
}
.order-table.table th {
    border-top: none;
    font-weight: 600;
    border-bottom-width:1px;
}
.order-table.table tr:last-child td {
    border-bottom: 0;
}
.order-table.table th,
.order-table.table td {
    font-weight: 600;
    padding: 0.95rem;
}
.v-middle-table.table td {
    vertical-align: middle;
}
.order-table.table .data-expanded td {
    border: none;
}
.ship-status-success {
    color: #378B03 !important;
}
.ship-status-canceled {
    color:#D58816 !important;
}
.cell-link {
    text-decoration: none;
    font-weight: 600;
    color: #269ABB;
}
.th-content {
    font-size: 18px;
}
.th-content strong {
    display: block;
    font-size: 26px;
    line-height: 36px;
}
.table-x-thumb {
    text-decoration: none;
    display: block;
    color: #222222;
}
.table-x-thumb img {
    display: block;
    float: left;
    margin-right: 15px;
}
.table-x-thumb .name {
    display: inline-block;
    vertical-align: middle;
}
.cell-amoun-text {
    font-size: 26px;
    line-height: 36px;
    color: #000000;
    vertical-align: middle;
}
.collapsed-text {
    padding-left: 40px;
}
.collapse + .collapsed-text {
    display: block;
}
.collapse.show + .collapsed-text {
    display: none;
}